//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 11 23:05:38 2016
//! **************************************************************************

SCHEMATIC START;
COMP "LED<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "T16" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "V14" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "U14" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "V11" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "N17" LEVEL 1;
PIN BTN<0>_pin<0> = BEL "BTN<0>" PINNAME PAD;
PIN "BTN<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BTN<1>" LOCATE = SITE "P18" LEVEL 1;
PIN BTN<1>_pin<0> = BEL "BTN<1>" PINNAME PAD;
PIN "BTN<1>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BTN<2>" LOCATE = SITE "P17" LEVEL 1;
PIN BTN<2>_pin<0> = BEL "BTN<2>" PINNAME PAD;
PIN "BTN<2>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BTN<3>" LOCATE = SITE "M17" LEVEL 1;
PIN BTN<3>_pin<0> = BEL "BTN<3>" PINNAME PAD;
PIN "BTN<3>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BTN<4>" LOCATE = SITE "M18" LEVEL 1;
PIN BTN<4>_pin<0> = BEL "BTN<4>" PINNAME PAD;
PIN "BTN<4>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SSEG_CA<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "SSEG_CA<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "SSEG_CA<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "SSEG_CA<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "SSEG_CA<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "SSEG_CA<1>" LOCATE = SITE "R10" LEVEL 1;
COMP "SSEG_CA<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "SSEG_CA<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "R16" LEVEL 1;
PIN SW<10>_pin<0> = BEL "SW<10>" PINNAME PAD;
PIN "SW<10>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<11>" LOCATE = SITE "T13" LEVEL 1;
PIN SW<11>_pin<0> = BEL "SW<11>" PINNAME PAD;
PIN "SW<11>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<12>" LOCATE = SITE "H6" LEVEL 1;
PIN SW<12>_pin<0> = BEL "SW<12>" PINNAME PAD;
PIN "SW<12>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<13>" LOCATE = SITE "U12" LEVEL 1;
PIN SW<13>_pin<0> = BEL "SW<13>" PINNAME PAD;
PIN "SW<13>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<14>" LOCATE = SITE "U11" LEVEL 1;
PIN SW<14>_pin<0> = BEL "SW<14>" PINNAME PAD;
PIN "SW<14>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<15>" LOCATE = SITE "V10" LEVEL 1;
PIN SW<15>_pin<0> = BEL "SW<15>" PINNAME PAD;
PIN "SW<15>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<0>" LOCATE = SITE "J15" LEVEL 1;
PIN SW<0>_pin<0> = BEL "SW<0>" PINNAME PAD;
PIN "SW<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<1>" LOCATE = SITE "L16" LEVEL 1;
PIN SW<1>_pin<0> = BEL "SW<1>" PINNAME PAD;
PIN "SW<1>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<2>" LOCATE = SITE "M13" LEVEL 1;
PIN SW<2>_pin<0> = BEL "SW<2>" PINNAME PAD;
PIN "SW<2>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<3>" LOCATE = SITE "R15" LEVEL 1;
PIN SW<3>_pin<0> = BEL "SW<3>" PINNAME PAD;
PIN "SW<3>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<4>" LOCATE = SITE "R17" LEVEL 1;
PIN SW<4>_pin<0> = BEL "SW<4>" PINNAME PAD;
PIN "SW<4>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<5>" LOCATE = SITE "T18" LEVEL 1;
PIN SW<5>_pin<0> = BEL "SW<5>" PINNAME PAD;
PIN "SW<5>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<6>" LOCATE = SITE "U18" LEVEL 1;
PIN SW<6>_pin<0> = BEL "SW<6>" PINNAME PAD;
PIN "SW<6>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<7>" LOCATE = SITE "R13" LEVEL 1;
PIN SW<7>_pin<0> = BEL "SW<7>" PINNAME PAD;
PIN "SW<7>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<8>" LOCATE = SITE "T8" LEVEL 1;
PIN SW<8>_pin<0> = BEL "SW<8>" PINNAME PAD;
PIN "SW<8>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<9>" LOCATE = SITE "U8" LEVEL 1;
PIN SW<9>_pin<0> = BEL "SW<9>" PINNAME PAD;
PIN "SW<9>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "SSEG_AN<6>" LOCATE = SITE "K2" LEVEL 1;
COMP "SSEG_AN<5>" LOCATE = SITE "T14" LEVEL 1;
COMP "SSEG_AN<7>" LOCATE = SITE "U13" LEVEL 1;
COMP "SSEG_AN<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "SSEG_AN<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "SSEG_AN<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "SSEG_AN<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "SSEG_AN<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "T15" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "Val_1" BEL "Val_2" BEL "Val_3" BEL "Cntr_0" BEL
        "Cntr_1" BEL "Cntr_2" BEL "Cntr_3" BEL "Cntr_4" BEL "Cntr_5" BEL
        "Cntr_6" BEL "Cntr_7" BEL "Cntr_8" BEL "Cntr_9" BEL "Cntr_10" BEL
        "Cntr_11" BEL "Cntr_12" BEL "Cntr_13" BEL "Cntr_14" BEL "Cntr_15" BEL
        "Cntr_16" BEL "Cntr_17" BEL "Cntr_18" BEL "Cntr_19" BEL "Cntr_20" BEL
        "Cntr_21" BEL "Cntr_22" BEL "Cntr_23" BEL "Cntr_24" BEL "Cntr_25" BEL
        "Cntr_26" BEL "Val_0" BEL "CLK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

